<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script src="https://unpkg.com/vue@next"></script>
        
        <link rel="stylesheet" href="style.css" />
        <title>Nice</title>
    </head>
    <body>
        <div id="add">
            Add : <input type="number" v-model="a_add" /> + <input type="number" v-model="b_add" /> = {{ a_add }} {{ b_add }} {{ total }}
        </div>
        Sub : <input type="number" id="a_sub" /> - <input type="number" id="b_sub" /> = <span id="answer_sub"></span>
    </body>
    <script type="module" src="js.js"></script>
</html>
